body {
	background-image: url('images/pineapple-tile.jpg');
}

.holdMe {
	margin: 0 auto;
	background-color: white;
}

.starter{
  font-size:30px;
  padding:10px;
  display:block;
  margin:40px;
  border:3px solid blue;
}

h2 {
	font-family: 'Barriecito', cursive;
	font-size: 30px;
}

p {
	font-size: 50px;
}